**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/*.user
**/*.suo
**/*.log
**/TestResults
**/.planning
**/design
**/*.md
!k8s/README.md
**/threa.db*
**/*.db-shm
**/*.db-wal
