@page "/"

@inject Csla.Blazor.State.StateManager StateManager

<PageTitle>Threa</PageTitle>

<h1>Threa Gaming System</h1>

Welcome to your new world!

@code
{
    protected override async Task OnInitializedAsync()
    {
        await StateManager.InitializeAsync();
    }
}
