@page "/player/characters"

@using GameMechanics.Player
@using Microsoft.AspNetCore.Components.QuickGrid

@inject IDataPortal<PlayerEdit> playerPortal
@inject IDataPortal<CharacterList> characterListPortal
@inject ApplicationContext applicationContext
@inject ViewModel<CharacterList> vm
@inject NavigationManager NavigationManager

@attribute [Authorize]

<h3>Your Characters</h3>

<div class="alert-danger">@vm.ViewModelErrorText</div>

<p><a href="player/character">Add character</a></p>

@if (vm.Model == null)
{
    <div>Loading...  </div>
    <img src="images/busy.gif" class="busy-animation" />
}
else
{
    <QuickGrid Items="characters">
        <PropertyColumn Title="Name" Property="@(p => p.Name)" />
        <PropertyColumn Title="Species" Property="@(p => p.Species)" />
        <TemplateColumn>
            <a href="player/character/@context.Id">Details</a>
        </TemplateColumn>
    </QuickGrid>
}

@code {
    private IQueryable<CharacterInfo>? characters;

    protected override async Task OnParametersSetAsync()
    {
        var playerId = int.Parse(applicationContext.Principal.Claims
            .Where(_ => _.Type == System.Security.Claims.ClaimTypes.NameIdentifier).First().Value);
        await vm.RefreshAsync(() =>
            characterListPortal.FetchAsync(playerId));
        characters = vm.Model?.AsQueryable();
        StateHasChanged();
    }
}
