@page "/player/playeredit"
@rendermode InteractiveServer

@attribute [Authorize]

@using GameMechanics.Player
@using System.Security.Claims

@inject IDataPortal<GameMechanics.Player.PlayerEdit> playerPortal
@inject ViewModel<GameMechanics.Player.PlayerEdit> vm
@inject ApplicationContext applicationContext
@inject Threa.Services.RenderModeProvider RenderModeProvider
@inject NavigationManager NavigationManager

<h3>Player Profile</h3>

<div class="alert-danger">@vm.ViewModelErrorText</div>

@if (vm.Model == null)
{
    <p>Loading...</p>
}
else
{
    <table>
        <thead>
            <tr><th></th><th></th></tr>
        </thead>
        <tbody>
            <LabelRow Property="vm.GetPropertyInfo<string>(() => vm.Model.Email)" />
            <TextInputRow Property="vm.GetPropertyInfo<string>(() => vm.Model.Name)" />
        </tbody>
    </table>
    <button 
        type="button" 
        @onclick="SaveData" 
        class="btn btn-primary" 
        disabled="@(!vm.Model.IsSavable)">Save</button>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        if (!RenderModeProvider.GetRenderMode(this).ToString().Contains("Interactive"))
            return;
        vm.Saved += () => NavigationManager.NavigateTo("/");
        vm.ModelChanged += async () => await InvokeAsync(() => StateHasChanged());
        vm.ModelPropertyChanged += async (s, a) => await InvokeAsync(() => StateHasChanged());
        var identity = applicationContext.Principal.Identity!;
        string? idText = applicationContext.Principal.Claims.First(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
        int playerId = int.Parse(idText!);
        await vm.RefreshAsync(() =>
            playerPortal.FetchAsync(playerId));
    }

    private async Task SaveData()
    {
        await vm.SaveAsync();
        NavigationManager.NavigateTo("/");
    }
}
