@page "/player/playerpassword"
@rendermode InteractiveServer

@attribute [Authorize]

@using GameMechanics.Player
@using System.Security.Claims

@inject IDataPortal<GameMechanics.Player.PlayerPassword> playerPortal
@inject ViewModel<GameMechanics.Player.PlayerPassword> vm
@inject Threa.Services.RenderModeProvider RenderModeProvider
@inject ApplicationContext applicationContext
@inject NavigationManager NavigationManager

<h3>Player Profile</h3>

<div class="alert-danger">@vm.ViewModelErrorText</div>
<div class="alert-danger">@vm.Exception?.ToString()</div>
<div class="alert-danger">@errorText</div>

@if (vm.Model == null)
{
    <p>Loading...</p>
}
else
{
    <table>
        <thead>
            <tr><th></th><th></th></tr>
        </thead>
        <tbody>
            <LabelRow Property="vm.GetPropertyInfo<string>(() => vm.Model.Email)" />
            <LabelRow Property="vm.GetPropertyInfo<string>(() => vm.Model.Name)" />
            <tr>
                <td>Password</td>
                <td><input type="password" @bind="password1" /></td>
            </tr>
            <tr>
                <td>Retype password</td>
                <td><input type="password" @bind="password2" /></td>
            </tr>
        </tbody>
    </table>
    <button type="button" @onclick="SaveData" class="btn btn-primary">Change password</button>
}

@code {
    private string? password1;
    private string? password2;
    private string? errorText;

    protected override async Task OnInitializedAsync()
    {
        if (!RenderModeProvider.GetRenderMode(this).ToString().Contains("Interactive"))
            return;
        vm.Saved += () => NavigationManager.NavigateTo("/");
        vm.ModelChanged += async () => await InvokeAsync(() => StateHasChanged());
        vm.ModelPropertyChanged += async (s, a) => await InvokeAsync(() => StateHasChanged());

        var identity = applicationContext.Principal.Identity!;
        string? idText = applicationContext.Principal.Claims.First(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
        int playerId = int.Parse(idText!);
        await vm.RefreshAsync(() =>
            playerPortal.FetchAsync(playerId));
    }

    private async Task SaveData()
    {
        if (string.IsNullOrWhiteSpace(password1))
        {
            errorText = "Invalid password";
            return;
        }
        if (password1 != password2)
        {
            errorText = "Passwords do not match";
            return;
        }
        vm.Model.NewPassword = password1;
        await vm.SaveAsync();
        NavigationManager.NavigateTo("/");
    }
}
