@page "/"


<PageTitle>Threa</PageTitle>

<h1>Threa Gaming System</h1>

<img src="/favicon.png" class="responsive-image" />

@code
{
    protected override async Task OnInitializedAsync()
    {
    }
}
