@page "/playeredit"

@using GameMechanics.Player 
@inject IDataPortal<Player> playerPortal
@inject ApplicationContext applicationContext
@inject ViewModel<Player> vm
@inject NavigationManager NavigationManager

@attribute [Authorize]

<h3>Player Profile</h3>

<div class="alert-danger">@vm.ViewModelErrorText</div>

@if (vm.Model == null)
{
  <p>Loading...</p>
}
else
{
  <table>
    <thead>
      <tr><th></th><th></th></tr>
    </thead>
    <tbody>
      <TextInputRow Property="vm.GetPropertyInfo<string>(() => vm.Model.Name)" />
      <LabelRow Property="vm.GetPropertyInfo<string>(() => vm.Model.Email)" />
    </tbody>
  </table>
  <button @onclick="vm.SaveAsync" disabled="@(!vm.Model.IsSavable)">Save</button>
}

@code {
  protected override void OnInitialized()
  {
    vm.Saved += () => NavigationManager.NavigateTo("/");
    vm.ModelChanged += async () => await InvokeAsync(() => StateHasChanged());
    vm.ModelPropertyChanged += async (s, a) => await InvokeAsync(() => StateHasChanged());
  }

  protected override async Task OnParametersSetAsync()
  {
    await vm.RefreshAsync(() => 
      playerPortal.FetchAsync(applicationContext.User.Identity.Name));
  }
}
