<div>
  <RadzenCheckBox Value="@BoolValue" TValue="bool"
                  Disabled="@(Property == null || !Property.CanWrite)"
                  Change="@(args => OnChange(args))" />
  <span class="text-danger">@Property?.ErrorText</span>
  <span class="text-warning">@Property?.WarningText</span>
  <span class="text-info">@Property?.InformationText</span>
</div>

@code {
    [Parameter]
    public Csla.Blazor.IPropertyInfo? Property { get; set; }

    private bool BoolValue => Property != null ? (bool)Property.Value : false;

    private void OnChange(bool value)
    {
        if (Property != null)
        {
            Property.Value = value;
        }
    }
}
