<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Threa</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="player/characters">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> My characters
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="player/playeredit">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> My profile
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="player/playerpassword">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Change password
                    </NavLink>
                </div>
            </Authorized>
        </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

        <Microsoft.AspNetCore.Components.Authorization.AuthorizeView Roles="GameMaster,Administrator">
            <Authorized>
                <div class="nav-item px-3 mt-3">
                    <strong class="text-light">Game Master</strong>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="gamemaster/items">
                        <span class="bi bi-box-fill-nav-menu" aria-hidden="true"></span> Manage Items
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="gamemaster/skills">
                        <span class="bi bi-star-fill-nav-menu" aria-hidden="true"></span> Manage Skills
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="gamemaster/magicschools">
                        <span class="bi bi-magic" aria-hidden="true"></span> Manage Magic Schools
                    </NavLink>
                </div>
            </Authorized>
        </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

        <Microsoft.AspNetCore.Components.Authorization.AuthorizeView Roles="Administrator">
            <Authorized>
                <div class="nav-item px-3 mt-3">
                    <strong class="text-light">Admin</strong>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/users">
                        <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Manage Users
                    </NavLink>
                </div>
            </Authorized>
        </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    </nav>
</div>

