<div>
  <RadzenCheckBox @bind=@BoolValue TValue="bool"
                    Disabled="@(Property == null || !Property.CanWrite)" />
                  @*Change="@(args => Change(args))"/>*@
  <span class="text-danger">@Property?.ErrorText</span>
  <span class="text-warning">@Property?.WarningText</span>
  <span class="text-info">@Property?.InformationText</span>
</div>

@code {
    [Parameter]
    public Csla.Blazor.IPropertyInfo? Property { get; set; }

    private bool BoolValue
    {
        get => Property != null ? (bool)Property.Value : false;
        set => Property.Value = value;
  }

  void Change(bool value)
  {
    if (Property != null)
        Property.Value = value;
    StateHasChanged();
  }
}
